.wrapper {
  position: relative;
}

.wrapper span {
  height: 3rem; /* Reduce el tamaño del contenedor */
  width: 3rem; /* Reduce el tamaño del contenedor */
  display: flex;
  position: relative;
  line-height: 3rem; /* Ajusta para que sea proporcional */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  transition: 0.2s ease;
  overflow: hidden;
}

.wrapper span:hover {
  border: rgb(170, 146, 96) 2px solid;
  transform: rotate(45deg);
  box-shadow: 0 0 10px rgba(170, 146, 96, 0.5), 0 0 10px rgba(170, 146, 96, 0.5),
    0 0 10px rgba(170, 146, 96, 0.3), 0 0 10px rgba(170, 146, 96, 0.3),
    0 0 10px rgba(170, 146, 96, 0.2), 0 0 10px rgba(170, 146, 96, 0.2);
  transition: box-shadow 0.2s 0.6s ease-in;
}

.icon {
  scale: 1.5; /* Reduce el tamaño del icono */
  transition: 0.2s ease;
}

.icon:hover {
  scale: 1.3; /* Ajusta el tamaño al hacer hover */
  transform: rotate(-45deg);
}

.wrapper span::before {
  position: absolute;
  content: "";
  height: 30%;
  width: 150%;
  background-color: #aa9260;
  transform-origin: bottom;
  bottom: -75%;
  transform: rotate(-45deg);
  transition: 0.1s 0.2s ease;
}

.wrapper span:hover::before {
  height: 200%;
  scale: 3;
  transition: 0.4s 0.3s ease;
}
